* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 49px;
    padding: 18.69px 42.353px 18.68px 42.353px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 110px;
    height: 11.63px;
    margin-right: 20px;
    cursor: pointer;
}

ul {
    display: flex;
    height: 49px;
    padding: 18.69px 42.353px 18.68px 42.353px;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

li {
    color: #141615;
    text-align: center;
    font-family: 'Nuckle', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 591;
    line-height: 15px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    cursor: pointer;
}

li:hover {
    color: #606160;
}

.signbox {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-left: 30%;
}

.lang {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.en {
    display: flex;
    justify-content: center;
    border: none;
    background-color: white;
    font-family: 'Nuckle', sans-serif;
    font-size: 12px;
    font-weight: 591;
    cursor: pointer;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dot {
    width: 5.921px;
    height: 5.913px;
}

.dot2 {
    width: 9.095px;
    height: 5.748px;
}

.cart {
    width: 20px;
    height: 17px;
    cursor: pointer;
}


.hero {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/bikeshop/images/982259a96f988a19c294dad5d4ce1148.png);
    background-size: cover;
    height: 828px;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.velo {
    color: #FFF;
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 400;
}

.bikelease {
    color: #FFF;
    font-family: 'Nuckle', sans-serif;
    font-size: 70px;
    font-style: normal;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}

.about {
    display: flex;
    padding: 91px 42.34px 90px 42.34px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.man {
    width: 635.66px;
    height: 636px;
}

.textmedia {
    display: flex;
    flex-direction: column;
    padding: 0px 63.56px 0px 190.59px;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
}

.heading {
    color: black;
    font-family: 'Nuckle', sans-serif;
    font-size: 50px;
    font-style: normal;
    line-height: 50px;
    margin-bottom: 35px;
    font-weight: 500;
}

.description {
    color: black;
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 21px;
    width: 428px;
    margin-bottom: 21px;
    font-weight: 400;
}

.discover {
    color: black;
    text-align: center;
    font-family: 'Nuckle', sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 15px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
}

.discover:hover {
    color: #555;
}

.service {
    height: 810.5px;
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/bikeshop/images/aff8de14165da69c035537a9bbc2088a.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.heading2 {
    color: white;
    font-family: 'Nuckle', sans-serif;
    font-style: normal;
    font-size: 50px;
    width: 432px;
    height: 150px;
    margin: 0 0 0 127.05px;
}

.description2 {
    margin: 40px 0 0 127.05px;
    color: white;
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    width: 301px;
    height: 105px;
    font-weight: 300;
    font-style: normal;
    line-height: 21px;
}

.heading3 {
    color: black;
    font-family: 'Nuckle', sans-serif;
    font-size: 50px;
    font-style: normal;
    line-height: 50px;
    width: 451px;
}

.descr {
    color: black;
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 21px;
    margin-top: 20px;
    width: 448px;
    margin-bottom: 21px;
}

.media {
    padding: 0px 127.07px 0px 127.08px;
    display: flex;
    flex-direction: column;
}

.how {
    display: flex;
    padding: 91px 42.326px 90px 42.34px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-bottom: 20px;
}

.caption {
    width: 635px;
    height: 810px;
}

.box {
    display: flex;
    justify-content: flex-start;
}

.circle {
    background-color: rgba(42, 42, 42, 0.1);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.minihead {
    color: rgba(20, 22, 21, 0.90);
    font-family: 'Nuckle', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    margin-left: 15px;
    font-weight: 500;
}

.minidescr {
    color: rgba(20, 22, 21, 0.40);
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    width: 393px;
    margin: 5px 0 19px 33px;
}

.featured {
    display: flex;
    padding: 80px 0px 60px 0px;
    justify-content: space-evenly;
}

.wrapper {
    position: relative;
    width: 636px;
    height: 695px;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #F0F0F0;
    border-radius: 8px;
    border: none;
}

.models {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 0 30px;
}

.model {
    color: #000;
    font-family: 'Nuckle', sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    font-weight: 500;
}

span {
    color: #000;
    font-family: 'Nuckle', sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.price {
    color: #141615;
    font-family: 'Nuckle', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 26px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control:hover {
    color: #8d8b8b;
}

.colours {
    position: absolute;
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40px;
}

.circles {
    -webkit-tap-highlight-color: transparent;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    background-clip: border-box;
    cursor: pointer;
}

.circles.black {
    background: #000;
}

.circles.graphit {
    background: #606160;
}

.circles.dune {
    background: #DDD9CD;
}

.circles.jetblack {
    background: linear-gradient(90deg, #EFE1CB 50%, #000 50%);
}

.circles.pebble {
    background: linear-gradient(90deg, #EFE1CB 50%, #F4F1EC 50%);
}

.circles::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.circles:focus::after,
.circles.active::after {
    background: transparent;
    border: 1px solid #000;
    box-sizing: border-box;
    opacity: 1;
    transform: scale(1);
}

.circles:focus,
.circles.active {
    transform: scale(0.9);
}

.intouch {
    justify-content: center;
    display: flex;
    border-bottom: 2px solid #c9c9c95e;
}

.form-container {
    background: white;
    border-radius: 5px;
    width: 937px;
    text-align: center;
    margin-bottom: 60px;
}

.form-container .getin {
    margin-top: 250px;
    margin-bottom: 57px;
    color: #333;
    font-family: 'Nuckle', sans-serif;
    font-size: 50px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 937px;
    height: 57px;
    padding: 20px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    color: #4a504de5;
    font-family: 'Nuckle', sans-serif;
    font-size: 12px;
    font-style: normal;
    margin-bottom: 10px;
}

.form-group select option {
    cursor: pointer;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: none;
    box-shadow: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #4a504de5;
    font-family: 'Nuckle', sans-serif;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 2px;
}

.form-group select {
    color: #4a504de5;
    font-family: 'Nuckle', sans-serif;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 2px;
}

.form-group textarea {
    height: 309px;
    resize: vertical;
}

.send {
    width: 931.78px;
    height: 50px;
    padding: 10px;
    background-color: #898A8A;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Nuckle', sans-serif;
    font-size: 12px;
    border-radius: 30px;
    letter-spacing: 2px;
}

.send:hover {
    background-color: #555;
}

.anyquestions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 147px;
}

.questions {
    font-family: 'Nuckle', sans-serif;
    font-size: 120px;
    font-style: normal;
    margin-bottom: 28px;
    color: #141615;
}

.titles {
    font-family: 'Nuckle', sans-serif;
    font-size: 25px;
    color: #141615;
    font-weight: 500;
}

.accordion {
    margin: 20px auto;
    margin-bottom: 80px;
}

.accordion-item {
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    width: 931px;
    padding: 32px 0 36px 0;
}

.accordion-header {
    padding: 15px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header,
.accordion-header * {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

.plus-sign {
    outline: none;
    box-shadow: none;
}

.accordion-content {
    padding: 15px;
    display: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
    font-family: 'Nuckle', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #898A8A;
    line-height: 21px;
}

.accordion-item.active .accordion-content {
    display: block;
}

.plus-sign {
    font-size: 18px;
    transition: transform 0.3s;
}

.accordion-item.active .plus-sign {
    transform: rotate(45deg);
}

.book {
    height: 143px;
    background-color: #404243;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    display: flex;
    justify-content: space-between;
}

.plaintext {
    font-family: 'Nuckle', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    width: 689px;
    margin-right: 100px;
    line-height: 20.8px;
}

.booknow {
    background-color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.booknow:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.644);
}

.booknow:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

footer {
    display: flex;
    height: 474px;
    background-color: #141615;
    padding-top: 40px;
}

.footer-menu {
    width: 70%;
    display: flex;
    justify-content: center;
    padding-top: 26px;
}

.items {
    padding-right: 148px;
    display: flex;
    flex-direction: column;
}

.topic {
    font-family: 'Nuckle', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 591;
    color: #fff;
    padding-bottom: 14px;
}

.topics {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 10px;
    cursor: pointer;
}

.topics:hover {
    color: rgba(241, 241, 241, 0.863);
}

.footer-email {
    width: 508px;
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    padding-bottom: 20px;
    margin-right: 60px;
}

.check {
    width: 465px;
    height: 41px;
}

.minitext {
    color: #fff;
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding-bottom: 20px;
}

.field {
    border-radius: 80px;
    border: 1px solid #fff;
    width: 465px;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.entermail {
    background-color: transparent;
    border: none;
    width: 70%;
    text-align: center;
    font-family: 'Nuckle', sans-serif;
    font-size: 12px;
    color: #fff;
}

.entermail::placeholder {
    color: #fff;
    opacity: 1;
    caret-color: #fff;
}

.entermail:focus {
    outline: none;
    border: none;
    caret-color: #fff;
}

.sub {
    width: 144px;
    background-color: #fff;
    border-radius: 80px;
    text-align: center;
    font-family: 'Nuckle', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #000;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 500;
}

.sub:hover {
    box-shadow: 0 5px 9px rgba(192, 192, 192, 0.336);
}

.sub:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

.check {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12px;
}

label {
    color: #fff;
    font-size: 14px;
    font-family: 'Nuckle', sans-serif;
}

.polic {
    color: #fff;
    font-size: 14px;
    font-family: 'Nuckle', sans-serif;
}

.polic:hover {
    color: #8d8b8b;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 30px;
    margin-top: 9px;
}

.scrollToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 5%;
    border-radius: 80px;
    border: 1px solid #fff;
    background-color: #fff;
    padding-top: 3px;
    cursor: pointer;
}

.scrollToTop:hover {
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.5);
}

.scrollToTop:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}