* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1165px) {}

@media screen and (max-width: 1048px) {}

@media screen and (max-width: 965px) {}

@media screen and (max-width: 920px) {}

@media screen and (max-width: 865px) {}

@media screen and (max-width: 808px) {}

@media screen and (max-width: 808px) {}

@media screen and (max-width: 660px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 380px) {}

@media screen and (max-width: 325px) {}