* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

a {
    text-decoration: none;
}

#scroll-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EEC044;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    z-index: 1000;
}

.animated {
    animation: pulse 0.5s ease-out;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.top {
    display: flex;
    height: 115.5px;
    background-color: aliceblue;
    justify-content: center;
}

.logo {
    width: 170px;
    height: 51.5px;
}

.head {
    display: flex;
    height: 115.5px;
    align-items: center;
}

.navbar {
    display: flex;
    height: 115.5px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    width: 217.44px;
    flex-shrink: 0;
}

.nav {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #F8F7F0;
}

.icon {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}

.call,
.mail,
.location {
    margin-left: 20px;
    width: 217.44px;
    height: 115.5px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.phone {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
}

#callback-form {
    width: 450px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

#phone-icon {
    cursor: pointer;
}

h2 {
    font-family: "Manrope", sans-serif;
}

.callus {
    margin-top: 15px;
    font-size: 15px;
    color: #A5A49A;
    font-family: "Manrope", sans-serif;
    margin-bottom: 10px;
}

#phone-number {
    border-radius: 16px;
    width: 160px;
    height: 22px;
    border-color: #878680;
}

#close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    border-style: none;
    top: 10px;
    right: 10px;
    color: #000000;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

#close-button:hover {
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f00;
    color: #fff;
    border-style: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.phoneme {
    background: #4BAF47;
    color: #181817;
    font-family: "Manrope", sans-serif;
    border-style: none;
    border-radius: 16px;
    height: 22px;
    width: 59px;
}

h3 {
    display: flex;
    width: 100px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 166.667% */
}

.number {
    display: flex;
    width: 180px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
}

.callme,
.textme {
    margin-top: 34px;
    margin-left: 12px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.page {
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F7F0 -19.808px 0px / 102.08% 100% no-repeat;
}

.home {
    padding-right: 5px;
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    text-decoration: none;
}

.home:hover {
    color: rgba(197, 186, 155, 0.627);
}

.menuu:hover {
    color: rgba(197, 186, 155, 0.627);
}

.arrow {
    margin-left: 5px;
    padding-top: 3px;
    width: 7.88px;
    height: 36px;
    flex-shrink: 0;
}

.menu1 {
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    padding-left: 55px;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    align-items: center;
}

.menu-label {
    cursor: pointer;
}

.menu1 .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 255px;
    border-radius: 10px;
    display: none;
}

.menu1:hover .submenu {
    display: block;
    color: rgba(197, 186, 155, 0.627);
}

.menu1 .submenu li {
    list-style: none;
    margin-bottom: 10px;
}

.menu1 .submenu a {
    text-decoration: none;
    color: #666;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-label:hover {
    color: rgba(197, 186, 155, 0.627);
}

.menuu {
    padding-right: 5px;
    padding-left: 55px;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    align-items: center;
}

input {
    color: #878680;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#name {
    border: none;
    outline: none;
    padding-left: 28px;
    padding-top: 17px;
    background-color: transparent;
}

.find {
    display: flex;
    height: 59px;
    padding: 3px 15px 0px 176px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-left: 30px;
}

.finder {
    padding-right: 20px;
    padding-left: 25px;
    border-left: #E4E2D7 1px solid;
    cursor: pointer;
}

.finder:hover {
    opacity: 0.7;
}

#search-form {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}

#search-form.show {
    visibility: visible;
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 190px;
    margin-top: 8px;
}

#search-input:focus {
    outline: none;
}

#cart-content {
    font-family: "Manrope", sans-serif;
    text-align: center;
    color: #4BAF47;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

#cart-icon {
    cursor: pointer;
}

#cart-icon:hover {
    opacity: 0.7;
}

.basket {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.circle {
    height: 22px;
    width: 19px;
    border-radius: 10px;
    background: #4BAF47;
    margin-left: -10px;
    margin-top: -19px;
    color: white;
    font-family: "Manrope", sans-serif;
    text-align: center;
}

.inner {
    background-image: url(about/4839d72a50605c839cb58d5d2f3549ce.png);
    background-size: cover;
    height: 326.25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.house {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.25px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}

.pages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 220px;
    gap: 20px;
    margin-top: 120px;
}

.bred1 {
    display: flex;
    width: 369.98px;
    height: 220px;
    padding: 40px 50px 45px 50px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #4BAF47;
}

.bred2 {
    display: flex;
    width: 369.98px;
    height: 220px;
    padding: 40px 50px 45px 50px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #C5CE38;
}

.bred3 {
    display: flex;
    width: 369.98px;
    height: 220px;
    padding: 40px 50px 45px 50px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #EEC044;
}

.cursive {
    color: rgba(255, 255, 255, 0.60);
    font-family: "Covered By Your Grace";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.descript {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.second {
    width: 1200px;
    height: 630px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.mapp {
    width: 500px;
    height: 630px;
}

iframe {
    border-radius: 10px 0 0 10px;
}

.sms {
    background: #e4e2d78d;
    background-image: url(contact/5d119000ef156c10a9813df5c3dadf18.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 699.98px;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.smsbox {
    width: 500.3px;
    height: 433.59px;
}

.connect {
    color: #EEC044;
    font-family: "Covered By Your Grace";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.bigtext {
    color: #1F1E17;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 57.6px;
}

.horizontal-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.someform {
    display: flex;
    flex-direction: column;
}

.smth {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #FFF;
    font-family: Manrope;
    width: 240.14px;
    height: 60px;
    border-radius: 10px;
    padding: 21px 31px 20px 31px;
    font-size: 14px;
    color: #878680;
    border: none;
    outline: none
}

.smths {
    width: 500.3px;
    height: 150px;
    padding: 16px 357.427px 104px 31px;
    border: none;
    border-radius: 10px;
    background-color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #878680;
    margin-bottom: 20px;
    border: none;
    outline: none
}

.sub {
    width: 206.66px;
    height: 60px;
    padding: 14.5px 49.635px 15.5px 50px;
    border: none;
    border-radius: 10px;
    background: #4BAF47;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

footer {
    height: 511px;
    background: #24231D;
    display: flex;
    justify-content: center;
}

.columns {
    width: 1200px;
    height: 273px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.column1 {
    width: 300px;
    height: 273px;
}

.column2 {
    display: flex;
    width: 200px;
    height: 273px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.titles {
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.combo {
    display: flex;
    justify-content: space-around;
}

.line {
    margin-bottom: 35px;
}

.line1 {
    margin-bottom: 40px;
}

.mini {
    width: 11.25px;
    height: 10px;
    margin-top: 10px;
    margin-right: 15px;
}

.column3 {
    display: flex;
    width: 399.98px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 40px;
}

.texty {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    width: 197px;
}

.date2 {
    color: #EEC044;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.13px;
    margin-bottom: 20px;
}

.column4 {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
}

.texting {
    color: #A5A49A;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 269px;
    margin-top: 24px;
}

.texting2 {
    color: #A5A49A;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 199.69px;
}

.navbar2 {
    display: flex;
    height: 115.5px;
    width: 217.44px;
    margin-top: 20px;
    gap: 10px;
}

.nav1 {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #1F1E17;
}

.area {
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), #FFF;
    height: 50px;
    width: 270px;
    flex-shrink: 0;
}

.textbottom,
.textbottom:focus {
    outline: none;
    border: none;
    box-shadow: none;
    border-style: hidden;
}

.textbottom {
    border: none;
    outline: none;
}

.areas {
    border-radius: 0px 10px 10px 0px;
    background: #4BAF47;
    width: 50px;
    height: 50px;
    border-style: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

button[type="submit"]:hover {
    cursor: pointer;
}

.form-container {
    margin-top: 30px;
    position: relative;
    width: 270px;
    height: 50px;
}

.textbottom {
    color: #878680;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px 0 0 10px;
    height: 50px;
    width: 220px;
    padding-left: 28px;
}

.textbottom::placeholder {
    width: 108.427px;
    height: 17px;
}

.foot {
    background: #1F1E17;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footbox {
    display: flex;
    width: 1200px;
    height: 70px;
    justify-content: center;
}

.columnbox {
    display: flex;
    width: 600px;
    height: 70px;
    padding: 20px 0px 20px 15px;
    align-items: flex-start;
    flex-shrink: 0;
}

.columnbox2 {
    display: flex;
    width: 600px;
    height: 70px;
    padding: 20px 0px 20px 15px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
}

.reserved {
    color: #A5A49A;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}