* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

a {
    text-decoration: none;
}

#scroll-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EEC044;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    z-index: 1000;
}

.animated {
    animation: pulse 0.5s ease-out;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.top {
    display: flex;
    height: 115.5px;
    background-color: aliceblue;
    justify-content: center;
}

.logo {
    width: 170px;
    height: 51.5px;
}

.head {
    display: flex;
    height: 115.5px;
    align-items: center;
}

.navbar {
    display: flex;
    height: 115.5px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    width: 217.44px;
    flex-shrink: 0;
}

.nav {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #F8F7F0;
}

.icon {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}

.call,
.mail,
.location {
    margin-left: 20px;
    width: 217.44px;
    height: 115.5px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.phone {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
}

#callback-form {
    width: 450px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

#phone-icon {
    cursor: pointer;
}

h2 {
    font-family: "Manrope", sans-serif;
}

.callus {
    margin-top: 15px;
    font-size: 15px;
    color: #A5A49A;
    font-family: "Manrope", sans-serif;
    margin-bottom: 10px;
}

#phone-number {
    border-radius: 16px;
    width: 160px;
    height: 22px;
    border-color: #878680;
}

#close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    border-style: none;
    top: 10px;
    right: 10px;
    color: #000000;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

#close-button:hover {
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #f00;
    color: #fff;
    border-style: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.phoneme {
    background: #4BAF47;
    color: #181817;
    font-family: "Manrope", sans-serif;
    border-style: none;
    border-radius: 16px;
    height: 22px;
    width: 59px;
}

h3 {
    display: flex;
    width: 100px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 166.667% */
}

.number {
    display: flex;
    width: 180px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
}

.callme,
.textme {
    margin-top: 34px;
    margin-left: 12px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.page {
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F7F0 -19.808px 0px / 102.08% 100% no-repeat;
}

.home {
    padding-right: 5px;
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    text-decoration: none;
}

.home:hover {
    color: rgba(197, 186, 155, 0.627);
}

.menuu:hover {
    color: rgba(197, 186, 155, 0.627);
}

.arrow {
    margin-left: 5px;
    padding-top: 3px;
    width: 7.88px;
    height: 36px;
    flex-shrink: 0;
}

.menu1 {
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    padding-left: 55px;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    align-items: center;
}

.menu-label {
    cursor: pointer;
}

.menu1 .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 255px;
    border-radius: 10px;
    display: none;
}

.menu1:hover .submenu {
    display: block;
    color: rgba(197, 186, 155, 0.627);
}

.menu1 .submenu li {
    list-style: none;
    margin-bottom: 10px;
}

.menu1 .submenu a {
    text-decoration: none;
    color: #666;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-label:hover {
    color: rgba(197, 186, 155, 0.627);
}

.menuu {
    padding-right: 5px;
    padding-left: 55px;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    align-items: center;
}

input {
    color: #878680;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input[type="text"] {
    border: none;
    outline: none;
    padding-left: 28px;
    padding-top: 17px;
    background-color: transparent;
}

.find {
    display: flex;
    height: 59px;
    padding: 3px 15px 0px 176px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-left: 30px;
}

.finder {
    padding-right: 20px;
    padding-left: 25px;
    border-left: #E4E2D7 1px solid;
    cursor: pointer;
}

.finder:hover {
    opacity: 0.7;
}

#search-form {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}

#search-form.show {
    visibility: visible;
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 190px;
    margin-top: 8px;
}

#search-input:focus {
    outline: none;
}

#cart-content {
    font-family: "Manrope", sans-serif;
    text-align: center;
    color: #4BAF47;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

#cart-icon {
    cursor: pointer;
}

#cart-icon:hover {
    opacity: 0.7;
}

.basket {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.circle {
    height: 22px;
    width: 19px;
    border-radius: 10px;
    background: #4BAF47;
    margin-left: -10px;
    margin-top: -19px;
    color: white;
    font-family: "Manrope", sans-serif;
    text-align: center;
}

.inner {
    background-image: url(about/4839d72a50605c839cb58d5d2f3549ce.png);
    background-size: cover;
    height: 326.25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.house {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.25px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}

.grid {
    margin: 0 auto;
}

.grid-container {
    display: grid;
    width: 1170px;
    height: 1170px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
    padding: 91px;
    width: 370px;
    height: 570px;
    border-radius: 10px;
    color: #FFF;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
    color: #FFF;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: transform 0.5s;
}

.grid-item1:hover {
    transform: scale(1.1);
}

.grid-item2:hover {
    transform: scale(1.1);
}

.grid-item3:hover {
    transform: scale(1.1);
}

.grid-item4:hover {
    transform: scale(1.1);
}

.grid-item5:hover {
    transform: scale(1.1);
}
.grid-item6:hover {
    transform: scale(1.1);
}

.grid-item1 {
    background-image: url(services/d76033c14925222ba21b72e6c5d77821.png);
    background-size: cover;
    background-position: center;
}

.grid-item2 {
    background-image: url(services/cf5405ca051c8b5504ef8e8e38683d87.png);
    background-size: cover;
    background-position: center;
}

.grid-item3 {
    background-image: url(services/4e20c0fd46381dee647d6e6eda3498da.png);
    background-size: cover;
    background-position: center;
}

.grid-item4 {
    background-image: url(services/15ae4894eb7f432fdc006bf5755d131c.png);
    background-size: cover;
    background-position: center;
}

.grid-item5 {
    background-image: url(services/ebecbcc9c987bc4b0450d15192e417e6.png);
    background-size: cover;
    background-position: center;
}

.grid-item6 {
    background-image: url(services/dd52abc21926b95d26c2a09c3cee37f6.png);
    background-size: cover;
    background-position: center;
}

footer {
    height: 511px;
    background: #24231D;
    display: flex;
    justify-content: center;
}

.columns {
    width: 1200px;
    height: 273px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.column1 {
    width: 300px;
    height: 273px;
}

.column2 {
    display: flex;
    width: 200px;
    height: 273px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.titles {
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 5px;
}

.combo {
    display: flex;
    justify-content: space-around;
}

.line {
    margin-bottom: 35px;
}

.line1 {
    margin-bottom: 35px;
}

.mini {
    width: 11.25px;
    height: 10px;
    margin-top: 10px;
    margin-right: 15px;
}

.column3 {
    display: flex;
    width: 399.98px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 40px;
}

.texty {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    width: 197px;
}

.date2 {
    color: #EEC044;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.13px;
    margin-bottom: 20px;
}

.column4 {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
}

.texting {
    color: #A5A49A;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 269px;
    margin-top: 24px;
}

.texting2 {
    color: #A5A49A;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 199.69px;
}

.navbar2 {
    display: flex;
    height: 115.5px;
    width: 217.44px;
    margin-top: 20px;
    gap: 10px;
}

.nav1 {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #1F1E17;
}

.area {
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), #FFF;
    height: 50px;
    width: 270px;
    flex-shrink: 0;
}

.input,
input[type="text"]:focus {
    outline: none;
    border: none;
    box-shadow: none;
    border-style: hidden;
}

input[type="text"] {
    border: none;
    outline: none;
    padding-left: 28px;
    padding-top: 17px;
    background-color: transparent;
}

.areas {
    border-radius: 0px 10px 10px 0px;
    background: #4BAF47;
    width: 50px;
    height: 50px;
    border-style: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

button[type="submit"]:hover {
    cursor: pointer;
}

.form-container {
    margin-top: 30px;
    position: relative;
}

input {
    color: #878680;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.foot {
    background: #1F1E17;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footbox {
    display: flex;
    width: 1200px;
    height: 70px;
    justify-content: center;
}

.columnbox {
    display: flex;
    width: 600px;
    height: 70px;
    padding: 20px 0px 20px 15px;
    align-items: flex-start;
    flex-shrink: 0;
}

.columnbox2 {
    display: flex;
    width: 600px;
    height: 70px;
    padding: 20px 0px 20px 15px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
}

.reserved {
    color: #A5A49A;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}