* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/9074fb425f18decfdb303b3da1e337f5.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

a {
    text-decoration: none;
}

#scroll-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 5%;
    background: linear-gradient(45deg, rgb(238, 192, 68) 41%, rgb(69, 133, 80));
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    z-index: 1000;
    animation: shakeWithPause 10s ease-in-out infinite;
}

.animated {
    animation: pulse 0.5s ease-out;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.top {
    display: flex;
    height: 115.5px;
    width: 100%;
    background-color: aliceblue;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 51.5px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.head {
    display: flex;
    height: 115.5px;
    align-items: center;
}

.navbar {
    display: flex;
    height: 115.5px;
    justify-content: center;
    align-items: center;
    width: 16%;
}

.nav {
    display: flex;
    width: 15%;
    height: 30%;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #e3e8f6e8;
    transition: transform 0.3s ease;
}

.nav:hover {
    transform: scale(1.1);
}

.icon {
    width: 14px;
    height: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.call,
.mail,
.location {
    width: 18%;
    height: 115.5px;
    display: flex;
    text-decoration: none;
}

@keyframes shakeWithPause {

    0%,
    5% {
        transform: translateX(0);
    }

    10%,
    15% {
        transform: translateX(-8%);
    }

    20%,
    25% {
        transform: translateX(8%);
    }

    30%,
    100% {
        transform: translateX(0);
    }
}

.phone {
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
    animation: shakeWithPause 10s ease-in-out infinite;
}

#callback-form {
    width: 450px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

#phone-icon {
    cursor: pointer;
}

h2 {
    font-family: "Manrope", sans-serif;
}

.callus {
    margin-top: 15px;
    font-size: 15px;
    color: #A5A49A;
    font-family: "Manrope", sans-serif;
    margin-bottom: 10px;
}

#phone-number {
    border-radius: 7px;
    width: 160px;
    height: 22px;
    border-color: #87868066;
}

#close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    border-style: none;
    top: 10px;
    right: 10px;
    color: #000000;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

#close-button:hover {
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.595);
    color: #fff;
    border-style: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.phoneme {
    background: #4aaf477b;
    color: #181817;
    font-family: "Manrope", sans-serif;
    border-style: none;
    border-radius: 7px;
    height: 22px;
    width: 59px;
}

.phoneme:hover {
    background: #4aaf47e4;
}

h3 {
    display: flex;
    width: 100px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.number {
    display: flex;
    width: 150px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.callme,
.textme {
    margin-top: 34px;
    margin-left: 12px;
    margin-right: 20px;
}

.page {
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3e8f6e8 -19.808px 0px / 102.08% 100% no-repeat;
}

.home {
    padding-right: 5px;
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    text-decoration: none;
}

.home:hover {
    color: rgba(197, 186, 155, 0.627);
}

.menuu:hover {
    color: rgba(197, 186, 155, 0.627);
}

.arrow {
    margin-left: 5px;
    padding-top: 3px;
    width: 7.88px;
    height: 36px;
    flex-shrink: 0;
}

.menu1 {
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    padding-left: 55px;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    align-items: center;
}

.menu-label {
    cursor: pointer;
}

.menu1 .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 255px;
    border-radius: 10px;
    display: none;
}

.menu1:hover .submenu {
    display: block;
    color: rgba(197, 186, 155, 0.627);
}

.menu1 .submenu li {
    list-style: none;
    margin-bottom: 10px;
}

.menu1 .submenu a {
    text-decoration: none;
    color: #666;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-label:hover {
    color: rgba(197, 186, 155, 0.627);
}

.menuu {
    padding-right: 5px;
    padding-left: 55px;
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    align-items: center;
}

.find {
    display: flex;
    height: 59px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.finder {
    padding-right: 20px;
    padding-left: 25px;
    border-left: #E4E2D7 1px solid;
    cursor: pointer;
}

.finder:hover {
    opacity: 0.7;
}

#search-form {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}

#search-form.show {
    visibility: visible;
}

.button3_ {
    transition: transform 0.3s ease;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(75, 175, 71) 28%, rgb(58, 144, 133));
    width: 50%;
    height: 20%;
    font-family: "Manrope", sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button3_:hover {
    transform: scale(1.1);
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 190px;
    margin-top: 8px;
}

#search-input:focus {
    outline: none;
}

#cart-content {
    font-family: "Manrope", sans-serif;
    text-align: center;
    color: #4BAF47;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

#cart-icon {
    cursor: pointer;
}

#cart-icon:hover {
    opacity: 0.7;
}

.basket {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.circle {
    height: 22px;
    width: 19px;
    border-radius: 10px;
    background: #4BAF47;
    margin-left: -10px;
    margin-top: -19px;
    color: white;
    font-family: "Manrope", sans-serif;
    text-align: center;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.agrobox {
    width: 100%;
}

h4 {
    margin-left: 195px;
    margin-top: 100px;
    color: #FFF;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
    text-transform: uppercase;
    height: 30px;
    animation: slideInFromLeft 0.8s ease-out forwards;
}

.title {
    height: 40%;
    width: 40%;
    color: #FFF;
    font-family: "Covered By Your Grace", cursive;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px;
    margin-left: 195px;
    margin-top: 40px;
    animation: slideInFromLeft 0.8s ease-out 0.2s forwards;
}

span {
    color: #EEC044;
    font-family: "Covered By Your Grace", cursive;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px;
}

.fish {
    color: rgba(255, 255, 255, 0.70);
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
    width: 35%;
    margin-left: 195px;
    margin-top: 40px;
    animation: slideInFromLeft 0.8s ease-out 0.4s forwards;
}

.more {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    width: 100%;
}

.button {
    color: #FFF;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 30px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(75, 175, 71) 28%, rgb(58, 144, 133));
    text-decoration: none;
    width: 196.31px;
    height: 58px;
    margin-left: 195px;
    text-align: center;
    padding: 14px 49.651px 14px 50px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.picture {
    width: 115px;
    height: 53px;
    margin-top: 20px;
    margin-left: 30px;
}

.page2 {
    background-color: #FFF;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    height: 251px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.10);
    width: 30%;
    height: 285px;
    margin-left: 20px;
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature {
    color: #EEC044;
    text-align: center;
    font-family: "Covered By Your Grace", cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10%;
}

.description {
    color: #1F1E17;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.pictures {
    padding-top: 5%;
    height: 40%;
    width: 30%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.pictures:hover {
    transform: scale(1.1);
}

.agro {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    margin-top: 150px;
}

.photos {
    width: 50%;
    height: 641.19px;
    position: relative;
}

.round1 {
    width: 260px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 374px;
    border: 10px solid #FFFFFF;
}

.round2 {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.article {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 60px;
}

.intro {
    color: #EEC044;
    width: 50%;
    font-family: "Covered By Your Grace", cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.heading {
    color: #1F1E17;
    width: 90%;
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 57.6px;
}

.heading2 {
    color: #4BAF47;
    width: 70%;
    font-family: "Manrope", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    padding-top: 33px;
}

.paragraph {
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding-top: 33px;
    margin-bottom: 20px;
    width: 80%;
}

.box {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box1 {
    display: inline-flex;
    justify-content: flex-start;
}

.head1 {
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    width: 60%;
    margin-left: 10px;
}

.veg {
    width: 64px;
    height: 64px;
}

.box2 {
    display: inline-flex;
}

.text1 {
    display: inline-flex;
    justify-content: flex-start;
}

.check {
    width: 16px;
    height: 16px;
    margin-top: 7px;
}

.sentence {
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-left: 10px;
    width: 100%;
}

.sentence2 {
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-left: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.button2 {
    color: #FFF;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 30px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(75, 175, 71) 28%, rgb(58, 144, 133));
    text-decoration: none;
    width: 196.31px;
    height: 58px;
    text-align: center;
    padding: 14px 49.651px 14px 50px;
    transition: transform 0.3s ease;
}

.button2:hover {
    transform: scale(1.1);
}

.page3 {
    height: 905px;
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
}

.off {
    display: flex;
    flex-direction: column;
    background-color: #E4E2D7;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.plays {
    margin-left: 7px;
}

.offer {
    color: #1F1E17;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 57.6px;
    padding-bottom: 3%;
}

.contain {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.rectangle1 {
    width: 18%;
    height: 430px;
    border-radius: 10px;
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/4fa7c9b73acb6e290974af89a2e6ee02.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle2 {
    width: 18%;
    height: 430px;
    border-radius: 10px;
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/cf457813a031831dedc2504e82343ee4.png);
    background-position: center;
    background-size: cover;
    margin-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle3 {
    width: 18%;
    height: 430px;
    border-radius: 10px;
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/958b13fb0907f3eac38ba5ce4f172799.png);
    background-position: center;
    background-size: cover;
    margin-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle4 {
    width: 18%;
    height: 430px;
    border-radius: 10px;
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/ebf914f107f29f1bcbb5e4913b1734d4.png);
    background-position: center;
    background-size: cover;
    margin-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 80%;
    height: 170px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
    bottom: 0;
    margin-top: 270px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.iconn {
    border-radius: 7px;
    background: #C5CE38;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    padding: 10px;
}

.headd {
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    width: 50%;
    text-align: center;
    z-index: 1;
    padding-bottom: 8%;
}

.button3 {
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(75, 175, 71) 28%, rgb(58, 144, 133));
    width: 30%;
    height: 6%;
    font-family: "Manrope", sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 184px;
    background: linear-gradient(45deg, rgb(75, 175, 71) 28%, rgb(24, 77, 70));
    margin-top: 5%;
}

.ban {
    transition: transform 0.3s ease;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.ban:hover {
    transform: scale(1.1);
}

.page4 {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/1d480a43b8d523b9ec5a686d97d78cca.png);
    height: 740px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.agricult {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.headings {
    color: #FFF;
    font-family: "Manrope", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 84px;
    width: 50%;
    height: 336px;
}

.play {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #FFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.play:hover {
    transform: scale(1.1);
}

.page5 {
    background-color: #FFF;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore {
    margin-top: 5%;
}

.flex-cont {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 10%;
}

.bigcard {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/ce66048f81681e9a2e4ad29544f43cca.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 30%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 0.3s ease;
}

.bigcard:hover {
    transform: scale(1.1);
}

.name {
    color: #FFF;
    width: 70%;
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 30px;
}

.bigcard2 {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/e0ecad4d9a60640233239921f7a02f78.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 30%;
    height: 450px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 0.3s ease;
}

.bigcard2:hover {
    transform: scale(1.1);
}

.bigcard3 {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/5b295c847cf1eae34e65bed90726a827.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 30%;
    height: 450px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 0.3s ease;
}

.bigcard3:hover {
    transform: scale(1.1);
}

.bigcard4 {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/3ea20939dec663e5654f07b9cd6cab93.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 30%;
    height: 450px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 0.3s ease;
}

.bigcard4:hover {
    transform: scale(1.1);
}

.page6 {
    height: 100%;
    background: #F8F7F0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.container3 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    background-color: #FFF;
    border-radius: 10px;
    margin-bottom: 10%;
}

.paragraph1 {
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding-top: 10%;
    margin-bottom: 10%;
    width: 70%;
}

.master {
    width: 100%;
    height: 100%;
    padding: 38px 50px 55px 50px;
}

.minibox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.review {
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    width: 100%;
    height: 90%;
}

.names {
    color: #1F1E17;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    margin-top: 20px;
}

.parent {
    margin-top: 26px;
}

.master2 {
    margin-top: 50px;
    margin-right: 50px;
    position: relative;
}

.imag {
    position: relative;
}

.round {
    border-radius: 25px;
    background: linear-gradient(45deg, rgb(75, 175, 71) 28%, rgb(58, 144, 133));
    height: 20%;
    width: 33%;
    position: absolute;
    top: 50%;
    left: 33%;
    z-index: 1;
}

.page7 {
    height: 1600px;
    background-color: #FFF;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.choice {
    display: flex;
    justify-content: center;
    width: 90%;
    position: absolute;
    top: 0;
    margin-top: 10%;
}

.backg {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/3669521f4d19c62759724648d35d313c.png);
    background-size: cover;
    width: 50%;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    border-radius: 10%;
    background: linear-gradient(45deg, rgba(228, 195, 105, 0.678) 36%, rgba(33, 82, 41, 0.766), rgba(101, 103, 93, 0.892));
    width: 25%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20%;
    margin-left: 10%;
}

.text-right {
    color: #FFF;
    font-family: "Covered By Your Grace";
    font-size: 20px;
    font-style: normal;
    line-height: 36px;
    width: 95px;
    align-self: flex-end;
    margin-right: 30px;
    margin-bottom: 10px;
}

.benefit {
    width: 40%;
    margin-left: 5%;
}

.boxes {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 105px;
    margin-bottom: 15px;
}

.paragraph0 {
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkbox {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 30px;
}

.paragraphs {
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.explore2 {
    margin-top: 750px;
}

.master-news {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    gap: 30.02px;
}

.master-new {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.back {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/e8c92e8df267c9e4faa3897cbb33790b.png);
    background-size: cover;
    width: 90%;
    height: 299px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
}

.back1 {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/fa2241c429fe25e4a5676a68e572c4a0.png);
    background-size: cover;
    width: 90%;
    height: 299px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
}

.back2 {
    background-image: url(https://thesamecrone.github.io/Portfolio_shop/portfolio/images/1.Agriculture/aef651440bc81e1fb157f15f8eb5507a.png);
    background-size: cover;
    width: 90%;
    height: 299px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
}

.wrap {
    height: 214px;
    margin-top: -20px;
}

.date {
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(75, 175, 71) 28%, rgb(58, 144, 133));
    display: flex;
    width: 50%;
    height: 40px;
    padding: 0px 24.669px 0px 25px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin: auto;
    transition: transform 0.3s ease;
}

.logo2:hover {
    transform: scale(1.1);
}

.package {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.writing {
    color: #878680;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-left: 10px;
}

.sign {
    margin-left: 20px;
}

.portrait {
    width: 100%;
    height: 108px;
    color: #1F1E17;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-top: 5%;
}

.border {
    height: 120px;
    background: #F8F7F0;
}

footer {
    height: 460px;
    width: 100%;
    background: #24231D;
    display: flex;
    justify-content: center;
}

.columns {
    width: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.column1 {
    width: 18%;
    height: 273px;
}

.column2 {
    display: flex;
    width: 15%;
    height: 273px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.titles {
    color: #FFF;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 5px;
}

.combo {
    display: flex;
    justify-content: space-around;
}

.line {
    margin-bottom: 35px;
}

.line1 {
    margin-bottom: 35px;
}

.mini {
    width: 11.25px;
    height: 10px;
    margin-top: 10px;
    margin-right: 15px;
}

.column3 {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 40px;
}

.texty {
    color: #FFF;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    width: 70%;
}

.date2 {
    color: #EEC044;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.13px;
    margin-bottom: 20px;
}

.column4 {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: flex-start;
}

.texting {
    color: #A5A49A;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 70%;
    margin-top: 24px;
}

.texting2 {
    color: #A5A49A;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 199.69px;
}

.navbar2 {
    display: flex;
    height: 115.5px;
    width: 20%;
    margin-top: 20px;
    gap: 10px;
}

.nav1 {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #1F1E17;
    transition: transform 0.3s ease;
}

.nav1:hover {
    transform: scale(1.1);
}

.area {
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), #FFF;
    height: 50px;
    width: 270px;
    flex-shrink: 0;
}

.input,
input[type="text"]:focus {
    outline: none;
    border: none;
    box-shadow: none;
    border-style: hidden;
}

input[type="text"] {
    border: none;
    outline: none;
    padding-left: 28px;
    padding-top: 17px;
    background-color: transparent;
}

.logo2 {
    transition: transform 0.3s ease;
}

.logo2:hover {
    transform: scale(1.1);
}

.areas {
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(45deg, rgb(75, 175, 71) 28%, rgb(58, 144, 133));
    width: 50px;
    height: 50px;
    border-style: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

button[type="submit"]:hover {
    cursor: pointer;
}

.form-container {
    margin-top: 30px;
    position: relative;
}

input {
    color: #878680;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.foot {
    background: #1F1E17;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footbox {
    display: flex;
    width: 80%;
    height: 70px;
    justify-content: center;
}

.columnbox {
    display: flex;
    width: 50%;
    height: 70px;
    padding: 20px 0px 20px 15px;
    align-items: flex-start;
    flex-shrink: 0;
}

.columnbox2 {
    display: flex;
    width: 60%;
    height: 70px;
    padding: 20px 0px 20px 15px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
}

.reserved {
    color: #A5A49A;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}