* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 2570px) {
    .shape {
        left: 18%;
    }
}

@media screen and (max-width: 1048px) {
    .contain {
        gap: 104px;
        width: 85%;
        flex-wrap: wrap;
    }

    .log {
        width: 170px;
        height: 65.5px;
    }

    .headings {
        margin-right: 20px;
        margin-left: 7%;
    }

    .shape {
        z-index: -1;
    }

    .old {
        width: 300px;
    }

    .elementor {
        width: 45%;
    }

    .white {
        font-size: 25px;
    }

    .letters {
        padding-left: 5%;
        width: 735px;
    }

    #scroll-to-top {
        right: 22%;
    }
}

@media screen and (max-width: 780px) {

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        width: 235px;
        height: 295px;
    }

    .log {
        width: 125px;
        height: 45.5px;
    }

    .framing {
        height: 185px;
    }

    .headings {
        font-size: 50px;
    }

    .bold {
        font-size: 16px;
    }

    .healthy {
        font-size: 33px;
    }

    .elementor {
        width: 38%;
    }

    .green,
    .ochra,
    .orange {
        height: 140px;
    }

    .thing {
        font-size: 14px;
    }

    .discover {
        width: 32%;
        margin-right: 5%;
    }

    input[type="text"] {
        padding-left: 14px;
        padding-top: 12px;
    }
}

@media screen and (max-width: 450px) {

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        width: 180px;
        height: 220px;
    }

    .square {
        width: 158px;
        height: 98px;
        margin-top: 163px;
    }

    .contain {
        gap: 77px;
    }

    .framing {
        flex-wrap: wrap;
    }

    .button3 {
        overflow: hidden;
    }

    #scroll-to-top {
        right: 30%;
    }

    .page4 {
        height: 800px;
    }

    .pack {
        font-size: 21px;
        margin-top: 18px;
    }

    .photo1,
    .photo2,
    .photo3 {
        height: 185px;
    }

    .photos2,
    .photos {
        width: 95%;
        gap: 12px;
    }

    .bold {
        text-align: center;
        width: 85%;
        padding-left: 12%;
    }

    .headings {
        font-style: 26px;
        line-height: 57px;
    }

    .old {
        width: 250px;
        height: 450px;
        margin-right: 20px;
    }

    .healthy {
        font-size: 19px;
        line-height: 35px;
        width: 74%;
    }

    .random {
        width: 74%;
        font-size: 12px;
        line-height: 25px;
    }

    .shape {
        width: 307px;
        height: 345px;
    }

    .food {
        height: 890px;
    }

    .white {
        font-size: 13px;
        line-height: 32px;
    }

    .discover {
        text-align: center;
        line-height: 0px;
    }

    .footbox {
        width: 95%;
    }

    input[type="text"] {
        padding-left: 0px;
    }

}