* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 2570px) {
    .shape {
        left: 18%;
    }
}

@media screen and (max-width: 1048px) {
    .contain {
        gap: 104px;
        width: 85%;
        flex-wrap: wrap;
    }

    .log {
        width: 170px;
        height: 65.5px;
    }

    .headings {
        margin-right: 20px;
        margin-left: 7%;
    }

    .shape {
        z-index: -1;
    }

    .old {
        width: 300px;
    }

    .elementor {
        width: 45%;
    }

    .white {
        font-size: 25px;
    }

    .letters {
        padding-left: 5%;
        width: 735px;
    }

    #scroll-to-top {
        right: 22%;
    }
}

@media screen and (max-width: 780px) {

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        width: 235px;
        height: 295px;
    }

    .log {
        width: 125px;
        height: 45.5px;
    }

    .framing {
        height: 185px;
    }

    .headings {
        font-size: 50px;
    }

    .bold {
        font-size: 16px;
    }

    .healthy {
        font-size: 33px;
    }

    .elementor {
        width: 38%;
    }

    .green,
    .ochra,
    .orange {
        height: 155px;
    }

    .thing {
        font-size: 14px;
    }

    .discover {
        width: 32%;
        margin-right: 5%;
    }

    input[type="text"] {
        padding-left: 14px;
        padding-top: 12px;
    }
}