* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1048px) {
    .grass {
        width: 90%;
        height: 347px;
    }

    .paragr {
        width: 84%;
    }

    .wood {
        width: 100%;
        height: 122px;
    }

    .string {
        width: 81%;
        font-size: 16px;
        line-height: 23px;
    }

    .paragra {
        width: 67%;
        padding-left: 0px;
    }

    .smth {
        padding-top: 22%;
    }

    .need,
    .categories {
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    input[type="text"] {
        border: none;
        outline: none;
        padding-left: 19px;
        padding-top: 13px;
    }

    .paragr {
        margin-bottom: 15px;
        margin-top: 0px;
        line-height: 26px;
    }

    .benefit {
        font-size: 24px;
    }

    .smth {
        padding-top: 46%;
        line-height: 26px;
    }

    .string {
        font-size: 14px;
    }
}

@media screen and (max-width: 440px) {
    #scroll-to-top {
        right: 100px;
    }

    .page1 {
        flex-wrap: wrap;
    }

    .box1 {
        margin-left: 0%;
        align-items: center;
    }

    .need,
    .categories {
        width: 73%;
    }

    .box2 {
        align-items: center;
        width: 66%;
    }

    .grass {
        width: 100%;
        height: 70%;
    }

    .product {
        text-align: center;
        font-size: 32px;
        line-height: 46px;
    }

    .paragr {
        margin-top: 5%;
        width: 100%;
    }

    .shelf {
        flex-direction: column;
    }

    .smth {
        padding-top: 0%;
        padding-bottom: 15%;
    }

    input[type="text"] {
        padding-left: 0px;
    }

    .footbox {
        width: 90%;
    }

    .reserved {
        font-size: 9px;
    }

    .columnbox {
        width: 80%;
    }

    .columnbox2 {
        width: 51%;
    }
}