* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 780px) {
    .pages {
        gap: 20px;
    }

    .store1 {
        width: 40%;
        gap: 30px;
    }

    .crisper {
        width: 335px;
    }

    .crisper2 {
        width: 335px;
        height: 396px;
        padding: 40px 78.42px 35px 50px;
    }

    .crisper3 {
        width: 335px;
        padding: 40px 30.42px 35px 25px;
    }

    .lookfor {
        width: 335px;
    }

    input[type="text"] {
        border: none;
        outline: none;
        padding-left: 20px;
        padding-top: 12px;
    }
}

@media screen and (max-width: 441px) {
    .store1 {
        width: 81%;
    }

    .columnbox2 {
        width: 50%;
    }

    .footbox {
        width: 90%;
    }

    input[type="text"] {
        padding-left: 0%;
    }

}

@media screen and (max-width: 385px) {

    .lookfor {
        width: 300px;
    }
}

@media screen and (max-width: 330px) {

    .photo,
    .photo2,
    .photo3 {
        height: 300px;
    }

    .store1 {
        margin-top: 10%;
    }

    .crisper,
    .crisper2,
    .crisper3 {
        width: 280px;
    }

    .lookfor {
        width: 260px;
    }

    #search-inputs {
        font-size: 15px;
    }

    .crisper {
        height: 525px;
    }

    #scroll-to-top {
        right: 35px;
    }
}