* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1048px) {
    .pages {
        flex-wrap: wrap-reverse;
    }

    .blocking {
        display: flex;
        flex-direction: column;
    }

    .block1 {
        gap: 10%;
        display: flex;
        width: 60%;
        height: 500px;
    }
}