* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1048px) {
    .pages {
        flex-wrap: wrap-reverse;
    }

    .blocking {
        display: flex;
        flex-direction: column;
    }

    .block1 {
        gap: 10%;
        display: flex;
        width: 60%;
        height: 500px;
    }
}

@media screen and (max-width: 780px) {

    .product {
        width: 190px;
        height: 230px;
    }

    .block1 {
        gap: 7%;
        display: flex;
        width: 78%;
        height: 500px;
    }

    input[type="text"] {
        padding-left: 10px;
        padding-top: 13px;
    }
}