* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1048px) {
    .pages {
        flex-wrap: wrap-reverse;
    }

    .blocking {
        display: flex;
    }
}