* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1048px) {

    .first,
    .second {
        width: 80%;
    }

    .bred1,
    .bred2,
    .bred3 {
        width: 45%;
        padding: 24px 40px 11px 42px;
    }

    .mapp {
        width: 40%;
    }

    .bigtext {
        font-size: 40px;
    }

    .smths {
        width: 100%;
        height: 200px;
        padding: 19px 128.427px 29px 31px;
    }

    .smsbox {
        width: 85%;
    }

    .sub {
        width: 165.66px;
        height: 51px;
        padding: 12.5px 8.635px 12.5px 8px;
    }

    .smth {
        width: 50%;
    }

}

@media screen and (max-width: 780px) {
    .descript {
        font-size: 14px;
        line-height: 26px;
    }

    .bred1,
    .bred2,
    .bred3 {
        padding: 26px 15px 1px 16px;
    }

    .mapp {
        width: 50%;
    }

    .smth {
        padding: 21px 8px 20px 11px;
    }

    .smths {
        height: 150px;
    }

    input[type="text"] {
        padding-left: 14px;
        padding-top: 12px;
    }
}

@media screen and (max-width: 440px) {
    .first {
        gap: 8px;
    }

    .bred1,
    .bred2,
    .bred3 {
        padding: 8px 13px 1px 8px;
    }

    .descript {
        font-size: 11px;
        line-height: 14px;
    }

    .cursive {
        font-size: 25px;
    }

    .second {
        flex-wrap: wrap-reverse;
        align-items: center;
    }

    iframe {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .mapp {
        width: 100%;
    }

    .second {
        border-radius: 0px;
        gap: 0px;
    }

    .sms {
        border-radius: 10px 10px 0px 0px;
    }

    .footbox {
        width: 92%;
    }

    .columnbox {
        width: 73%;
    }

    .columnbox2 {
        width: 54%;
    }

    input[type="text"] {
        padding-left: 0px;
    }
}