* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 2570px) {
    .square {
        width: 111px;
        top: 37%;
        left: 23%;
    }

    .lady {
        width: 13%;
        height: 341px;
        top: 76%;
        left: 23%;
    }

    .sign {
        left: 27%;
    }
}


@media screen and (max-width: 1048px) {
    .lady {
        height: 26%;
        top: 79%;
    }

    .square {
        top: 73%;
    }

    .column01 {
        margin-left: 0px;
    }

    .column02 {
        margin-left: 22px;
    }

    .text {
        font-size: 15px;
    }

    .desc {
        font-style: 13px;
        line-height: 25px;
    }

    .sign {
        left: 15%;
    }
}

@media screen and (max-width: 880px) {
    #scroll-to-top {
        right: 80px;
    }
}


@media screen and (max-width: 780px) {
    .lady {
        width: 20%;
        height: 160px;
        top: 94%;
        left: 40%;
    }

    .square {
        top: 84%;
        left: 22%;
    }

    .columns0 {
        width: 85%;
    }

    .column01 {
        margin-left: 8%;
    }

    .column02 {
        padding-left: 0px;
    }

    .column2 {
        margin-left: 5%;
    }

    .heading {
        font-size: 40px;
        line-height: 47.6px;
    }

    .heading2 {
        font-size: 20px;
        line-height: 26px;
        padding-top: 20px;
    }

    .paragraph {
        font-size: 12px;
        line-height: 23px;
        padding-top: 7px;
        margin-bottom: 5px;
    }

    .text {
        font-size: 9px;
        margin-left: 6px;
    }

    .checks {
        margin-top: 7px;
    }

    .desc {
        font-size: 9px;
        line-height: 18px;
        height: 144px;
        margin: 16px;
        width: 100%;
    }

    .pics {
        display: none;
    }

    .minitext {
        width: 11.25px;
        height: 10px;
        margin-top: 10px;
        margin-right: 53px;
    }

    .content {
        width: 75%;
    }

    .sign {
        bottom: -9px;
        left: 24px;
    }

    .frames {
        height: 180px;
    }

    input[type="text"] {
        padding-left: 17px;
        padding-top: 12px;
    }

    .texts {
        text-wrap: auto;
        width: 13%;
    }
}

@media screen and (max-width: 441px) {

    .head,
    .navbar {
        padding-top: 10%;
        height: 50px;
        gap: 5%;
    }

    .heading {
        font-size: 17px;
        line-height: 24.6px;
    }

    .intro {
        font-size: 14px;
    }

    .tractor {
        width: 93%;
    }

    .heading2 {
        width: 83%;
        font-size: 11px;
        line-height: 19px;
        padding-top: 5px;
    }

    .paragraph {
        width: 83%;
        font-size: 9px;
        line-height: 17px;
    }

    .column02 {
        width: 40%;
    }

    .text {
        line-height: 15px;
    }

    .button2 {
        width: 100px;
        height: 33px;
        padding: 1px 6.651px 3px 10px;
        font-size: 10px;
    }

    .square {
        top: 90%;
        left: 15%;
    }

    .lady {
        width: 26%;
        top: 98%;
        left: 40%;
    }

    .title {
        font-size: 40px;
        letter-spacing: 0px;
        line-height: 52px;
    }

    .two {
        height: 680px;
    }

    .texts {
        width: 17%;
        font-size: 12px;
        line-height: 20px;
    }

    .frame {
        height: 130px;
    }

    .explore {
        padding-top: 5%;
    }

    .offer {
        font-size: 30px;
    }

    .feature {
        font-size: 20px;
    }

    .face {
        width: 90px;
        height: 100px;
        right: 11px;
    }

    .three {
        height: 750px;
    }

    .viewport {
        gap: 40px;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .wrap {
        margin-left: 0px;
        width: 60%;
        height: 210px;
    }

    .minitext {
        width: 0px;
        height: 0px;
        margin-top: 0px;
        margin-right: 53px;
    }

    .desc {
        height: 90px;
        line-height: 16px;
    }

    .name {
        font-size: 11px;
    }

    .card1,
    .card2,
    .card3 {
        margin-left: 0px;
        height: 257px;
    }

    .container {
        gap: 5%;
    }

    .sign {
        bottom: -8px;
        left: -12px;
    }

    .frames {
        height: 100px;
    }

    .reserved {
        font-size: 9px;
    }

    .columnbox {
        width: 60%;
    }

    .footbox {
        width: 88%;
    }

    input[type="text"] {
        padding-left: 0px;
        padding-left: 5%;
        font-size: 8px;
    }
}