* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1100px) {
    #scroll-to-top {
        right: 80px;
    }

    .logo {
        width: 100px;
        height: 34.5px;
    }

    .navbar {
        width: 173px;
    }

    .call,
    .mail,
    .location {
        width: 160px%;
    }

    .menuu {
        padding-left: 24px;
        padding-right: 15px;
    }

    .menu1 {
        padding-left: 10px;
    }

    .card {
        width: 300px;
    }

    .pictures {
        margin-left: 103px;
    }

    .photos {
        width: 300px;
    }

    .round2 {
        width: 300px;
        height: 300px;
        margin-left: 17px;
    }

    .round1 {
        width: 150px;
        height: 150px;
        margin-top: 195px;
    }

    .rectangle1 {
        width: 200px;
    }

    .rectangle2 {
        width: 200px;
    }

    .rectangle3 {
        width: 200px;
    }

    .rectangle4 {
        width: 200px;
    }

    .button3 {
        width: 100px;
        padding: 13px 9px 14px 16px;
    }

    .headings {
        font-size: 60px;
        margin-left: 45px;
    }

    .bigcard {
        width: 210px;
    }

    .bigcard2 {
        width: 210px;
    }

    .bigcard3 {
        width: 210px;
    }

    .bigcard4 {
        width: 210px;
    }

    .container3 {
        margin-left: 10px;
        width: 500px;
    }

    .review {
        font-size: 14px;
        width: 410px;
    }

    .minibox {
        width: 415px;
    }

    .master2 {
        display: none;
    }

    .choice {
        width: 975px;
    }

    .text-right {
        margin-right: 45px;
    }

    .quote {
        width: 160px;
    }

    .master-news {
        gap: 0;
    }

    .back,
    .back1,
    .back2 {
        width: 300px;
    }

    .master-new {
        width: 335px;
    }

    .columns {
        width: 990px;
    }

    .column2 {
        margin-left: 0;
    }

    .column3 {
        margin-left: 0;
        width: 270px;
    }

    .texting {
        width: 240px;
    }

    .column1 {
        margin-left: 40px;
    }

    .area {
        width: 215px;
    }

    .border {
        height: 190px;
    }

    .columnbox2 {
        width: 315px;
    }
}

@media screen and (max-width: 930px) {

    .call,
    .mail,
    .location {
        width: 160px;
    }

    .find {
        padding: 0;
    }

    #search-input {
        width: 95px;
    }

    .finder {
        padding-right: 55px;
    }

    .card {
        width: 250px;
    }

    .pictures {
        margin-left: 83px;
    }

    .photos {
        width: 240px;
    }

    .round2 {
        width: 230px;
        height: 230px;
        margin-left: 55px;
    }

    .round1 {
        margin-top: 160px;
        margin-left: 52px;
    }

    .rectangle1 {
        width: 160px;
    }

    .rectangle2 {
        width: 160px;
    }

    .rectangle3 {
        width: 160px;
    }

    .rectangle4 {
        width: 160px;
    }

    .square {
        width: 180px;
    }

    .button3 {
        margin-right: 135px;
        height: 80px;
        width: 50px;
        white-space: normal;
        padding: 13px 9px 14px 10px;
    }

    .headd {
        margin-left: 190px;
    }

    .bigcard {
        width: 190px;
    }

    .bigcard2 {
        width: 190px;
    }

    .bigcard3 {
        width: 190px;
    }

    .bigcard4 {
        width: 190px;
    }

    .container3 {
        width: 370px;
    }

    .review {
        height: 140px;
        width: 320px;
        padding-right: 40px;
    }

    .names {
        margin-top: 20px;
    }

    .minibox {
        width: 285px;
    }

    .parent {
        margin-top: 27px;
    }

    .heading {
        font-size: 40px;
    }

    .benefit {
        width: 380px;
    }

    .backg {
        width: 440px;
    }

    .boxes {
        width: 350px;
    }

    .checkbox {
        margin-top: 38px;
    }

    .paragraphs {
        font-size: 13px;
    }

    .master-new {
        width: 275px;
    }

    .back,
    .back1,
    .back2 {
        width: 260px;
    }

    .column1 {
        width: 210px;
    }

    .column2 {
        width: 170px;
    }

    .column3 {
        width: 205px;
    }

    .texty {
        width: 196px;
    }

    .columnbox2 {
        width: 220px;
    }
}

@media screen and (max-width: 880px) {
    .logo {
        margin-left: 70px;
        width: 60px;
        height: 20px;
    }

    .phone {
        width: 15px;
        height: 15px;
    }

    .number {
        margin-top: 4px;
        font-size: 10px;
    }

    .nav {
        width: 20px;
        height: 20px;
    }

    .navbar {
        justify-content: center;
        width: 155px;
    }

    .call,
    .mail,
    .location {
        margin-left: 0;
        padding-top: 10px;
    }

    .home,
    .menuu,
    .menu-label {
        font-size: 13px;
    }

    #search-input {
        width: 70px;
        font-size: 10px;
        margin-top: 12px;
    }

    .finder {
        padding-right: 23px;
    }

    h4 {
        font-size: 13px;
    }

    .title {
        font-size: 70px;
        width: 410px;
    }

    span {
        font-size: 90px;
    }

    .fish {
        font-size: 13px;
        width: 400px;
    }

    .picture {
        width: 80px;
        height: 35px;
    }

    .button {
        width: 140px;
        height: 40px;
        font-size: 11px;
        padding: 6px 12px 14px 13px;
    }

    .card {
        width: 170px;
    }

    .description {
        font-size: 15px;
    }

    .pictures {
        margin-left: 40px;
    }

    .heading {
        font-size: 25px;
    }

    .heading2 {
        font-size: 20px;
    }

    .paragraph {
        font-size: 14px;
        width: 422px;
    }

    .round2 {
        width: 140px;
        height: 140px;
        margin-left: 125px;
    }

    .round1 {
        width: 100px;
        height: 100px;
        margin-top: 90px;
        margin-left: 125px;
    }

    .veg {
        width: 40px;
        height: 40px;
    }

    .head1 {
        font-size: 12px;
        width: 105px;
    }

    .box {
        width: 350px;
    }

    .sentence {
        width: 400px;
        font-size: 13px;
    }

    .sentence2 {
        width: 430px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .button2 {
        padding: 10px 20px 10px 20px;
    }

    .ban {
        font-size: 14px;
    }

    .headings {
        width: 386px;
        font-size: 40px;
        margin-left: 85px;
    }

    .agricult {
        width: 750px;
    }

    .offer {
        font-size: 28px;
    }

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        width: 120px;
    }

    .square {
        width: 135px;
    }

    .headd {
        font-size: 15px;
    }

    .iconn {
        width: 50px;
        height: 50px;
    }

    .bigcard {
        width: 150px;
        height: 330px;
    }

    .bigcard2 {
        width: 150px;
        height: 330px;
    }

    .bigcard3 {
        width: 150px;
        height: 330px;
    }

    .bigcard4 {
        width: 150px;
        height: 330px;
    }

    .choice {
        width: 740px;
    }

    .name {
        font-size: 18px;
        margin-left: 20px;
    }

    .container2 {
        width: 300px;
    }

    .intro {
        margin-left: 37px;
        font-size: 18px;
    }

    .heading {
        margin-left: 37px;
        font-size: 18px;
        line-height: 24px;
    }

    .paragraph1 {
        font-size: 13px;
        width: 266px;
        padding-top: 0;
        margin-left: 37px;
    }

    .button2 {
        margin-left: 37px;
    }

    .container3 {
        width: 250px;
    }

    .master {
        width: 260px;
        padding: 20px 40px 75px 35px;
    }

    .review {
        font-size: 10px;
        width: 230px;
        line-height: 28px;
    }

    .minibox {
        flex-direction: column;
        width: 170px;
    }

    .names {
        font-size: 16px;
    }

    .parent {
        margin-top: 0;
    }

    .page6 {
        height: 540px;
    }

    .container2 {
        margin-top: 150px;
    }

    .container3 {
        margin-top: 150px;
    }

    .backg {
        width: 340px;
        height: 580px;
    }

    .paragraph0 {
        width: 300px;
        font-size: 13px;
        margin-left: 37px;
    }

    .checkbox {
        width: 25px;
        height: 25px;
        margin-right: 12px;
    }

    .boxes {
        margin-bottom: 15px;
    }

    .explore2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .master-news {
        width: 100%;
    }

    .back,
    .back1,
    .back2 {
        width: 210px;
    }

    .master-new {
        width: 220px;
    }

    .sign {
        width: 15px;
        height: 20px;
    }

    .writing {
        font-size: 10px;
    }

    .package {
        justify-content: center;
    }

    .portrait {
        width: 210px;
        font-size: 15px;
        white-space: pre-line;
    }

    .border {
        height: 140px;
    }

    .logo2 {
        width: 100px;
    }

    .column1 {
        margin-top: 20px;
        width: 150px;
    }

    .texting {
        line-height: 25px;
        width: 170px;
        font-size: 11px;
        margin-top: 40px;
    }

    .nav1 {
        width: 25px;
        height: 25px;
    }

    .navbar2 {
        width: 140px;
    }

    .titles {
        margin-top: 12px;
        font-size: 15px;
    }

    .texting2 {
        font-size: 12px;
        width: 155px;
    }

    .texty {
        font-size: 12px;
        width: 140px;
    }

    .date2 {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .column3 {
        width: 145px;
    }

    .column2 {
        margin-left: 15px;
    }

    .area {
        width: 180px;
        height: 40px;
    }

    .areas {
        width: 35px;
        height: 40px;
    }

    input[type="text"] {
        padding-left: 18px;
        padding-top: 13px;
    }

    .columnbox {
        width: 470px;
    }

    .columns {
        width: 750px;
        height: 320px;
    }

    #scroll-to-top {
        right: 80px;
    }

    .button3 {
        width: 50px;
        height: 50px;
        margin-right: 0;
        padding: 13px 10px 13px 10px;
        line-height: 15px;
        font-size: 10px;
    }

    .headd {
        margin-left: 45px;
    }
}

@media screen and (max-width: 715px) {
    .top {
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .head,
    .navbar {
        flex: 0 0 50%;
        width: 100%;
    }

    .call,
    .mail,
    .location {
        flex: 0 0 33.33%;
    }

    .logo {
        width: 120px;
        height: 40px;
    }

    .callme,
    .textme {
        margin-right: 0;
    }

    .number {
        width: 111px;
    }

}

@media screen and (max-width: 690px) {
    section {
        height: 90px;
        flex-wrap: wrap;
    }

    .menuu {
        padding-left: 10px;
    }

    .find {
        margin-left: 0;
    }

    .intro,
    .heading {
        margin-left: 0;
    }

    .heading {
        font-size: 15px;
        width: 200px;
    }

    .heading2 {
        width: 200px;
    }

    .paragraph {
        font-size: 12px;
        width: 200px;
    }

    .head1 {
        width: 75px;
    }

    .veg {
        width: 30px;
        height: 30px;
    }

    .sentence,
    .sentence2 {
        width: 200px;
    }

    .button2 {
        margin-left: 17px;
    }

    .page2 {
        height: 940px;
    }

    .headings {
        width: 225px;
        font-size: 32px;
    }

    .bigcard,
    .bigcard2,
    .bigcard3,
    .bigcard4 {
        width: 110px;
    }

    .name {
        font-size: 15px;
    }

    .paragraph1 {
        margin-left: 0;
        width: 180px;
    }

    .button2 {
        margin-left: 0;
    }

    .container2 {
        width: 200px;
    }

    .paragraph0 {
        margin-left: 0;
        width: 230px;
        line-height: 25px;
    }

    .boxes {
        width: 220px;
    }

    .paragraphs {
        width: 185px;
        line-height: 20px;
    }

    .names {
        margin-top: 0;
    }

    .checkbox {
        margin-top: 4px;
    }

    .backg {
        width: 230px;
    }

    .quote {
        width: 110px;
    }

    .text-right {
        margin-right: 5px;
    }

    .back,
    .back1,
    .back2 {
        width: 170px;
    }

    .master-new {
        width: 180px;
    }

    .writing {
        margin-left: 3px;
    }

    .columnbox {
        width: 370px;
    }

    .texting2 {
        width: 115px;
    }

    .texting {
        width: 100px;
    }

    .navbar2 {
        gap: 1px;
    }

    .texty {
        width: 100px;
        font-size: 11px;
    }

    .column1 {
        width: 110px;
    }

    .column2 {
        width: 145px;
    }

    .column3 {
        width: 110px;
    }

    .column4 {
        width: 200px;
    }
}

@media screen and (max-width: 608px) {

    h4,
    .title,
    .fish,
    .button {
        margin-left: 90px;
    }

    .card {
        width: 125px;
    }

    .pictures {
        height: 65px;
        margin-left: 30px;
    }

    .description {
        padding-top: 12px;
        font-size: 12px;
    }

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        max-width: 85px;
        height: 180px;
        flex: 0 0 50%;
    }

    .square {
        width: 100px;
        margin-top: 100px;
    }

    .iconn {
        width: 40px;
        height: 40px;
    }

    .button3 {
        margin-right: 30px;
    }

    .headd {
        font-size: 12px;
    }

    .contain {
        flex-wrap: wrap;
        width: 500px;
    }

    .page3 {
        height: 580px;
    }

    .banner {
        height: 140px;
    }

    .ban {
        width: 100px;
    }

    .reserved {
        font-size: 10px;
    }

    .columnbox {
        width: 230px;
    }

    .bigcard, .bigcard2, .bigcard3, .bigcard4 {
        width: 95px;
    }

    .name {
        font-size: 13px;
        margin-left: 9px;
    }

    .container2 {
        width: 175px;
    }

    .paragraph1 {
        width: 160px;
        font-size: 12px;
    }

    .back, .back1, .back2 {
        width: 130px;
    }

    .master-new {
        width: 140px;
    }

    .date {
        width: 115px;
        font-size: 10px;
    }

    .sign {
        margin-left: 0;
    }

    .writing {
        margin-left: 0;
        width: 40px;
    }

    .sign {
        margin-left: 0;
    }

    .portrait {
        width: 120px;
    }

    .area {
        width: 140px;
    }

    input {
        font-size: 8px;
    }

    input[type="text"] {
        padding-top: 15px;
    }

    .texting2 {
        font-size: 10px;
    }

    .column3 {
        width: 95px;
    }

    .texty {
        width: 90px;
        font-size: 10px;
    }

    .mini {
        margin-right: 3px;
    }

    .column2 {
        width: 105px;
        margin-left: -20px;
    }

    .texting {
        width: 85px;
    }

    .logo2 {
        width: 65px;
    }

    .column1 {
        margin-left: 50px;
    }
}