* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {

    #scroll-to-top {
        right: 80px;
    }

    .logo {
        width: 100%;
        height: 34.5px;
    }

    .navbar {
        width: 22%;
    }

    .call,
    .mail,
    .location {
        width: 20%;
    }

    .menuu {
        padding-left: 24px;
        padding-right: 15px;
    }

    .menu1 {
        padding-left: 10px;
    }

    .card {
        width: 50%;
    }

    .description {
        width: 81%;
    }

    .pictures {
        width: 45%;
    }

    .photos {
        width: 300px;
    }

    .round2 {
        width: 300px;
        height: 300px;
        margin-left: 17px;
    }

    .round1 {
        width: 150px;
        height: 150px;
        margin-top: 195px;
    }

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        width: 20%;
    }

    .button3_ {
        font-size: 13px;
        width: 62%;
        height: 22%;
    }

    .page3 {
        height: 800px;
    }

    .headd {
        width: 67%;
    }

    .flex-cont {
        width: 85%;
    }

    .button3 {
        width: 35%;
        padding: 13px 9px 14px 16px;
    }

    .headings {
        font-size: 60px;
        margin-left: 45px;
    }

    .bigcard {
        width: 20%;
    }

    .bigcard2 {
        width: 20%;
    }

    .bigcard3 {
        width: 20%;
    }

    .bigcard4 {
        width: 20%;
    }

    .name {
        font-size: 22px;
    }

    .number {
        font-style: 12px;
    }

    .navbar2 {
        gap: 3px;
    }

    .paragraphs,
    .paragraph0 {
        font-size: 14px;
        line-height: 22px;
    }

    .container3 {
        margin-left: 10px;
        width: 30%;
    }

    .review {
        font-size: 14px;
        width: 100%;
    }

    .minibox {
        width: 100%;
    }

    .master2 {
        display: none;
    }

    .choice {
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .text-right {
        margin-right: 45px;
    }

    .quote {
        width: 160px;
    }

    .master-news {
        gap: 0;
        width: 100%;
    }

    .paragraph1 {
        font-size: 14px;
    }

    .heading {
        font-size: 39px;
    }

    .back,
    .back1,
    .back2 {
        width: 85%;
    }

    .master-new {
        width: 35%;
    }

    .columns {
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
    }

    .column2 {
        margin-left: 0;
        width: 20%;
    }

    .column3 {
        margin-left: 0;
        width: 20%;
    }

    .texting {
        width: 78%;
    }

    .logo2 {
        width: 70%;
    }

    .texting2 {
        width: 100%;
    }

    .column1 {
        width: 20%;
    }

    .area {
        width: 215px;
    }

    .border {
        height: 190px;
    }

    .columnbox2 {
        width: 50%;
    }
}

@media screen and (max-width: 930px) {

    .call,
    .mail,
    .location {
        width: 20%;
    }

    .number {
        font-size: 11px;
    }

    .find {
        padding: 0;
    }

    #search-input {
        width: 95px;
    }

    .finder {
        padding-right: 55px;
    }

    .card {
        width: 250px;
    }

    .description {
        font-size: 20px;
    }

    .photos {
        width: 240px;
    }

    .round2 {
        width: 230px;
        height: 230px;
        margin-left: 55px;
    }

    .round1 {
        margin-top: 160px;
        margin-left: 52px;
    }

    .rectangle1 {
        width: 160px;
    }

    .rectangle2 {
        width: 160px;
    }

    .rectangle3 {
        width: 160px;
    }

    .rectangle4 {
        width: 160px;
    }

    .square {
        width: 180px;
    }

    .button3 {
        width: 30%;
        height: 6%;
        font-size: 13px;
    }

    .headd {
        width: 67%;
    }

    .bigcard {
        width: 190px;
    }

    .bigcard2 {
        width: 190px;
    }

    .bigcard3 {
        width: 190px;
    }

    .bigcard4 {
        width: 190px;
    }

    .container3 {
        width: 370px;
    }

    .review {
        height: 140px;
        width: 320px;
        padding-right: 40px;
    }

    .names {
        margin-top: 20px;
    }

    .minibox {
        width: 285px;
    }

    .parent {
        margin-top: 27px;
    }

    .heading {
        font-size: 35px;
    }

    .benefit {
        width: 45%;
    }

    .backg {
        width: 45%;
    }

    .boxes {
        width: 90%;
    }

    .texting {
        font-size: 13px;
        width: 85%;
    }

    .portrait {
        font-size: 18px;
    }

    .checkbox {
        margin-top: 3%;
    }

    .paragraphs {
        font-size: 13px;
    }

    .master-new {
        width: 32%;
    }

    .back,
    .back1,
    .back2 {
        width: 95%;
    }

    .column1 {
        width: 25%;
    }

    .column2 {
        width: 20%;
    }

    .column3 {
        width: 23%;
    }

    .texty {
        font-size: 13px;
        width: 90%;
    }

    .nav1 {
        width: 35px;
        height: 35px;
        padding: 8px;
    }

    .columnbox2 {
        width: 35%;
    }

    .reserved {
        font-size: 12px;
    }

    .feature {
        padding-top: 5%;
    }

    .article {
        margin-left: 17%;
        margin-top: 0px;
    }
}

@media screen and (max-width: 880px) {
    .logo {
        width: 90%;
        height: 31px;
    }

    .phone {
        width: 15px;
        height: 15px;
    }

    .number {
        margin-top: 4px;
        font-size: 10px;
    }

    .nav {
        width: 20px;
        height: 20px;
    }

    .navbar {
        justify-content: center;
        width: 155px;
    }

    .call,
    .mail,
    .location {
        margin-left: 0;
        padding-top: 10px;
    }

    .home,
    .menuu,
    .menu-label {
        font-size: 13px;
    }

    #search-input {
        width: 70px;
        font-size: 10px;
        margin-top: 12px;
    }

    .finder {
        padding-right: 23px;
    }

    h4 {
        font-size: 13px;
    }

    .title {
        font-size: 70px;
        width: 40%;
    }

    span {
        font-size: 90px;
    }

    .fish {
        font-size: 13px;
        width: 45%;
    }

    .picture {
        width: 80px;
        height: 35px;
    }

    .button {
        width: 140px;
        height: 40px;
        font-size: 11px;
        padding: 6px 12px 14px 13px;
    }

    .card {
        width: 28%;
    }

    .description {
        font-size: 15px;
    }

    .pictures {
        width: 45%;
        height: 30%;
    }

    .heading {
        font-size: 25px;
    }

    .heading2 {
        font-size: 20px;
    }

    .paragraph {
        font-size: 14px;
        width: 85%;
    }

    .round2 {
        width: 143%;
        height: 20%;
    }

    .round1 {
        width: 85%;
        height: 12%;
        margin-top: 100%;
    }

    .veg {
        width: 40px;
        height: 40px;
    }

    .head1 {
        font-size: 12px;
        width: 105px;
    }

    .box {
        width: 80%;
    }

    .sentence {
        width: 400px;
        font-size: 13px;
    }

    .sentence2 {
        width: 430px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .button2 {
        padding: 10px 20px 10px 20px;
    }

    .ban {
        font-size: 14px;
    }

    .headings {
        width: 50%;
        font-size: 40px;
        margin-left: 10%;
    }

    .agricult {
        width: 750px;
    }

    .offer {
        font-size: 28px;
    }

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        width: 20%;
        height: 92%;
    }

    .square {
        width: 85%;
    }

    .headd {
        font-size: 15px;
    }

    .iconn {
        width: 50px;
        height: 50px;
    }

    .bigcard {
        width: 150px;
        height: 330px;
    }

    .bigcard2 {
        width: 150px;
        height: 330px;
    }

    .bigcard3 {
        width: 150px;
        height: 330px;
    }

    .bigcard4 {
        width: 150px;
        height: 330px;
    }

    .choice {
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .name {
        font-size: 18px;
    }

    .container2 {
        width: 35%;
        margin-top: 10%;
    }

    .intro {
        font-size: 18px;
    }

    .heading {
        font-size: 18px;
        line-height: 24px;
    }

    .paragraph1 {
        font-size: 13px;
        width: 85%;
        padding-top: 5%;
    }

    .container3 {
        width: 40%;
        height: 50%;
        margin-top: 10%;
    }

    .master {
        width: 100%;
    }

    .review {
        font-size: 10px;
        width: 100%;
        line-height: 22px;
    }

    .banner {
        margin-top: 2%;
    }

    .minibox {
        flex-direction: column;
    }

    .names {
        font-size: 16px;
        margin-top: 2%;
        width: 91%;
    }

    .parent {
        margin-top: 0;
        width: 70%;
    }

    .page6 {
        height: 540px;
    }

    .backg {
        width: 340px;
        height: 580px;
    }

    .paragraph0 {
        width: 90%;
        font-size: 13px;
        line-height: 24px;
    }

    .checkbox {
        width: 25px;
        height: 25px;
        margin-right: 12px;
    }

    .boxes {
        margin-bottom: 4%;
    }

    .explore2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .master-news {
        width: 95%;
    }

    .back,
    .back1,
    .back2 {
        width: 95%;
    }

    .master-new {
        width: 32%;
    }

    .sign {
        width: 15px;
        height: 20px;
        margin-left: 0px;
    }

    .writing {
        font-size: 10px;
        margin-left: 0px;
    }

    .package {
        justify-content: space-evenly;
    }

    .portrait {
        width: 85%;
        font-size: 14px;
    }

    .wrap {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin-top: -10%;
    }

    .date {
        font-size: 11px;
        font-weight: 400;
        padding: 0px 7px 0px 7px;
    }

    .border {
        height: 140px;
    }

    .logo2 {
        width: 70%;
    }

    .column1 {
        margin-top: 20px;
        width: 150px;
    }

    .texting {
        line-height: 25px;
        width: 78%;
        font-size: 11px;
        margin-top: 40px;
    }

    .nav1 {
        width: 25px;
        height: 25px;
    }

    .titles {
        margin-top: 10%;
        font-size: 15px;
    }

    .texting2 {
        font-size: 11px;
        width: 85%;
    }

    .texty {
        font-size: 12px;
        width: 140px;
    }

    .date2 {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .column3 {
        width: 145px;
    }

    .column2 {
        margin-left: 15px;
    }

    .area {
        width: 95%;
        height: 40px;
    }

    .areas {
        width: 20%;
        height: 40px;
    }

    input[type="text"] {
        padding-right: 14px;
        padding-left: 18px;
        padding-top: 13px;
        font-size: 10px;
    }

    .columnbox {
        width: 70%;
    }

    .columns {
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        padding: 0 5%;
        height: 320px;
        gap: 2%;
    }

    #scroll-to-top {
        right: 80px;
    }

    .button3 {
        width: 36%;
        height: 6%;
        margin-right: 0;
        padding: 14px 10px 11px 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 715px) {
    .top {
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .head,
    .navbar {
        flex: 0 0 40%;
        width: 100%;
    }

    .call,
    .mail,
    .location {
        flex: 0 0 27%;
    }

    .logo {
        margin-left: 10%;
        width: 60%;
        height: 50px;
    }

    .callme,
    .textme {
        margin-right: 0;
    }

    nav {
        align-items: center;
    }

    .number {
        width: 111px;
    }

    .photos {
        visibility: hidden;
    }

    .button3_ {
        width: 75%;
    }

    .feature {
        padding-top: 5%;
    }

    .contain {
        margin-top: 5%;
        margin-bottom: 5%;
    }

}

@media screen and (max-width: 690px) {
    section {
        height: 90px;
    }

    .menuu {
        padding-left: 10px;
    }

    .find {
        margin-left: 0;
    }

    .intro,
    .heading {
        margin-left: 0;
    }

    .heading {
        font-size: 15px;
        width: 77%;
    }

    .paragraph {
        font-size: 12px;
    }

    .veg {
        width: 30px;
        height: 30px;
    }

    .button2 {
        margin-left: 17px;
    }

    .page2 {
        height: 100%;
    }

    .headings {
        width: 225px;
        font-size: 32px;
    }

    .bigcard,
    .bigcard2,
    .bigcard3,
    .bigcard4 {
        width: 110px;
    }

    .name {
        font-size: 15px;
    }

    .paragraph1 {
        margin-left: 0;
        width: 180px;
    }

    .button2 {
        margin-left: 0;
    }

    .paragraph0 {
        margin-left: 0;
        line-height: 25px;
        font-size: 11px;
        margin-top: 2%;
    }

    .explore2 {
        margin-top: 85%;
    }

    .boxes {
        width: 85%;
    }

    .paragraphs {
        width: 100%;
        line-height: 20px;
    }

    .names {
        margin-top: 0;
    }

    .checkbox {
        margin-top: 4px;
    }

    .backg {
        width: 45%;
    }

    .quote {
        width: 110px;
    }

    .text-right {
        margin-right: 5px;
    }

    .back,
    .back1,
    .back2 {
        width: 170px;
    }

    .master-new {
        width: 180px;
    }

    .writing {
        margin-left: 3px;
    }

    .texting2 {
        width: 95%;
    }

    .texting {
        width: 85%;
    }

    .navbar2 {
        gap: 1px;
    }

    .texty {
        width: 90%;
        font-size: 11px;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 22%;
    }

    .column3 {
        width: 22%;
    }

    .column4 {
        width: 25%;
    }
}

@media screen and (max-width: 608px) {

    h4,
    .title,
    .fish,
    .button {
        margin-left: 90px;
    }

    .card {
        width: 125px;
    }

    .pictures {
        height: 65px;
    }

    .description {
        padding-top: 12px;
        font-size: 12px;
    }

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        max-width: 18%;
        height: 180px;
        flex: 0 0 50%;
    }

    .square {
        width: 85%;
        margin-top: 80%;
    }

    .iconn {
        width: 40px;
        height: 40px;
        margin-top: 50%;
    }

    .button3 {
        margin-right: 30px;
    }

    .button3_ {
        width: 95%;
        font-size: 11px;
        border-radius: 5px;
    }


    .headd {
        font-size: 12px;
        padding-bottom: 7%;
        width: 95%;
        line-height: 20px;
    }

    .contain {
        flex-wrap: wrap;
        width: 100%;
    }

    .page3 {
        height: 500px;
    }

    .play {
        width: 85px;
        height: 85px;
    }

    .banner {
        height: 140px;
    }

    .ban {
        width: 100px;
    }

    .reserved {
        font-size: 10px;
    }

    .columnbox {
        width: 60%;
    }

    .bigcard,
    .bigcard2,
    .bigcard3,
    .bigcard4 {
        width: 30%;
        height: 240px;
    }

    .master {
        padding: 14px 18px 14px 20px;
    }

    .name {
        font-size: 13px;
        line-height: 25px;
    }

    .minibox {
        width: 80%;
    }

    .button2 {
        font-size: 12px;
    }

    .paragraph1 {
        width: 160px;
        font-size: 12px;
    }

    .back,
    .back1,
    .back2 {
        width: 130px;
    }

    .master-new {
        width: 140px;
    }

    .date {
        width: 115px;
        font-size: 10px;
    }

    .sign {
        margin-left: 0;
    }

    .writing {
        margin-left: 0;
        width: 40px;
    }

    .sign {
        margin-left: 0;
    }

    .portrait {
        width: 120px;
    }

    .area {
        width: 140px;
    }

    input {
        font-size: 8px;
    }

    input[type="text"] {
        padding-top: 15px;
    }

    .texting2 {
        font-size: 10px;
    }

    .column3 {
        width: 95px;
    }

    .texty {
        width: 90px;
        font-size: 10px;
    }

    .mini {
        margin-right: 3px;
    }

    .column2 {
        width: 105px;
        margin-left: -20px;
    }

    .texting {
        width: 85px;
    }

    .column1 {
        width: 25%;
    }
}

@media screen and (max-width: 545px) {
    .columnbox2 {
        width: 40%;
    }

    .areas {
        width: 25%;
    }

    input[type="text"] {
        font-size: 9px;
    }

    .button3 {
        width: 42%;
        height: 5%;
        margin-right: 0;
        padding: 13px 10px 11px 10px;
        font-size: 12px;
    }

    .intro {
        width: 60%;
    }

    .paragraph0 {
        line-height: 20px;
    }

    .names {
        width: 100%;
        font-size: 14px;
    }

    .border {
        height: 100px;
    }

    .page3 {
        height: 470px;
    }

    .menuu {
        padding-right: 0px;
    }

    .logo {
        height: 40px;
    }

    .description {
        width: 90%;
    }

    .card {
        height: 230px;
    }

    .iconn {
        margin-top: 77%;
    }

    .headd {
        padding-bottom: 14%;
    }

    input[type="text"] {
        padding-left: 13%;
    }

    .area {
        width: 127px;
    }

    .boxes {
        width: 100%;
    }

    .feature {
        padding-top: 30%;
    }

    .master {
        padding: 17px 23px 23px 18px;
    }

    .parent {
        width: 85%;
    }

    .review {
        padding-right: 5px;
    }

    .finder {
        padding-right: 10px;
    }

}